@use "../../variable.scss" as v;

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;

  .btnStart {
    background-color: v.$btn-bg-color;

    &:hover {
      transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      background-color: v.$btn-bg-color-hover;
    }

    &:active {
      scale: calc(0.95);
    }
  }

  .btnStop {
    background-color: v.$second-bg-color;

    &:hover {
      transition: background-color 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      background-color: v.$second-bg-color-hover;
    }

    &:active {
      scale: calc(0.95);
    }
  }

  .btnStop,
  .btnStart {
    width: 200px;

    font-size: 16px;

    color: white;

    cursor: pointer;
    padding: 10px 20px;

    border: none;
    border-radius: 8px;

    font-family: v.$font-text;
    font-weight: 500;
  }
}
