@use "../../variable.scss" as v;

.chartsBox {
  flex: 2;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-right: 10rem;
}

.chartItem {
  background-color: #181926;

  padding: 1rem 1.5rem;

  border-radius: 1rem;
}

.chartTitle {
  font-size: 1rem;
  font-weight: 600;

  margin-bottom: 1rem;

  color: #cbd5e1;
}
