@use "../../variable.scss" as v;

.metricsBox {
  flex: 1;

  background-color: #181926;

  padding: 1.5rem;

  border-radius: 1rem;

  display: flex;
  flex-direction: column;

  gap: 1.3rem;

  font-size: 1rem;
  font-weight: 500;
}

.row {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #334155;

  padding-bottom: 0.5rem;
}

.green {
  color: #4ade80;
  font-weight: 600;
}

.blue {
  color: #60a5fa;
  font-weight: 600;
}
