@use "../../variable.scss" as v;

.containerCodePlayground {
  margin: 2rem;
}

.textMain {
  font-size: 25px;
}

.container {
  margin-top: 13px;

  width: 800px;
  height: 260px;

  border-radius: 10px;

  background-color: #181926;

  padding: 40px;

  .codeInput {
    height: 85%;
    border-radius: 5px;
  }
}

