@use "../../variable.scss" as v;

.mainContainerExample {
  margin: 2rem;

  margin-left: 105px;
}

.containerExample {
  margin-top: 13px;

  border-radius: 10px;

  display: flex;
  flex-direction: column;

  gap: 2rem;

  padding: 20px 20px;

  background-color: #181926;

  max-width: 215px;
}

.textMain {
  font-size: 25px;
}

.line {
  border-bottom: 1px solid v.$btn-bg-color;
}
