$font-text: 'Roboto', sans-serif;

$bg-color-main: #060910;
$header-bg-color: #171825;

$sec-text-color: #5DCCA2;

$btn-bg-color: #179679;
$btn-bg-color-hover: #0a4235;

$second-bg-color: #111420;
$second-bg-color-hover: #23293f;


$bg-code-logs-color: #060910;
$border-color-code-logs: #6A6A6A;

$border-btn-color:#179679;
$active-section-exm: #1D263C;